/* about 섹션 */
main{
}
section{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
.block{
  display: block;
}

#about_prev{
  position: relative;
}

#about_prev .wrap{
 
}
#about_prev .wrap:before{
 content: "";
 background-image: url(../img/bb1.svg);
 width: 350px;
 height: 350px;
 display: block;
 position: absolute;
 bottom: 50px;
 left: 3%;
}

#about_prev .wrap:after{
 content: "";
 background-image: url(../img/bb2.svg);
 width: 350px;
  height: 350px;
 display: block;
 position: absolute;
 top: 60px;  
 right: 3%;
}
#about_prev .wrap .myPrev{
  font-size: 30px;
  line-height: 1;
  font-style: italic;
  font-size: 96px;
  color: black;
  margin: 50px 0;
}

#about_Sub{
  background-color: #242424;
  height: 100%;
}

#about_Sub .wrap{
  position: relative;
  height: 100%;
}

#about_Sub .wrap hgroup{
  margin: 10px 0;
}

#about_Sub .wrap hgroup .bigFonts{
  text-align: center;
  font-style: italic;
  font-size: 7.55vw;
  color: white;
  margin: 60px 0;
  font-family: 'Baskervville', serif;
  line-height: 8.33vw;
}
#about_Sub .wrap hgroup .smallFonts{
  color: white;  
  font-size: 30px;
  margin: 30px 0;
  /*! line-height: 3.33vw; */
  position: absolute;
  bottom: 15%;
}

#about {
  box-sizing: border-box;
  }
  .aboutHover{
  height: 100%;
  width: 100%;
  position: relative;
  }
  #about .wrap {
  display: block;
  transition: 0.7s;
  }
#about .wrap:before {
  background-image: url(../img/bb1.svg);
  content: "";
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  bottom: 10px;
  
  right: 0;
  transform: rotateY(180deg);
  perspective: initial;
}
  .sumAbout{    
  display: flex;
  position: relative;
  }
.sumAbout:after{
  content: "";
  
  background-image: url(../img/bb3.svg);
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: -30%;
}
  .aboutMe{
  font-style: italic;
  font-size: 96px;
  line-height: 1;
  }
  #about .wrap .leftS {    
  width: 50%;
  padding: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  height: 700px;
  }
  #about .wrap .rightS {
    
  width: 50%;
  padding: 0 50px;
  box-sizing: border-box;
  }
  #about .wrap .rightS hgroup {    
  line-height: 1.5;
  }
  
  #about .wrap .rightS hgroup h1 {    
  display: block;
  margin: 30px 0;
  width: fit-content;
  }
  #about .wrap .rightS hgroup .selfInter{
  font-size: 28px;
  font-weight: 500;
    }
  #about .wrap .rightS hgroup h2 {    
  font-size: 40px;
  margin: 30px 0;
  font-weight: bold;
  }
  #about .wrap .rightS hgroup p {    
  line-height: 1.5;
  font-size: 18px;
  }
  #about .wrap .rightS .sImg {    
  width: 74%;
  height: 35%;
  display: block;
  background-image: url(../img/back1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.3);
  margin-top: 30px;
  transition: 0.7s;
  }
#about .wrap .rightS .sImg:hover{
  opacity: 0.3;
  border-radius: 25px;
}

/* 워크 색션 */

/* 워크 색션 소개 */
#work_Sub{
  background-color: #242424;
}
#work_Sub .wrap{
  position: relative;
  height: 100vh;
  height: 100%;
}
#work_Sub .wrap hgroup{
  
}
#work_Sub .wrap hgroup h2.bigFonts{
  text-align: center;
  font-style: italic;
  font-size: 7.55vw;
  color: white;
  margin: 60px 0;
  font-family: 'Baskervville', serif;
  line-height: 8.33vw;
}
#work_Sub .wrap hgroup p.smallFonts{
 color: white;
 font-size: 30px;
 margin: 30px 0;
 line-height: 3.33vw;
 position: absolute;
 bottom: 15%;
}
/* 워크 색션 내용 */
#work {  
  background-color: transparent;
}
#work .workHover{
  width: 100%;
  height: 100%;
  position: relative;
}
#work .wrap {

}
#work .wrap:before{
  content: "";  
  background-image: url(../img/bb5.svg);
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  bottom: 5%;
  left: 1%;
}
#work .wrap:after{
  content: "";  
  background-image: url(../img/bb4.svg);
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  top: 75px;
  right: 250px;
}

#work ul{

}
#work ul .spin{
  padding: 10px 20px;
}
#work .wrap hgroup{
  
}
#work .wrap hgroup h2{  
  font-size: 30px;
  line-height: 1;
  transition: 0.7s;
  font-style: italic;
  font-size: 96px;
}

#work .wrap hgroup p{  
  font-size: 50px;
  line-height: 1.5;
  transition: 0.7s;
  margin-top: 2.33vw;
  margin-bottom: 1.33vw;
}
#work .wrap ul {
  display: flex;
  justify-content: space-between;
  height: 500px;
  width: 100%;
  /*! padding-top: 50px; */
}
#work .wrap li {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.7s;
  padding: 10px 20px;
  transform-style: preserve-3d;
  position: relative;
  background-color: transparent;
}

#work .wrap li::after{
  content: "";
  width: 237px;
  height: 237px;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 53px; 
}

#work .wrap .spin:hover li{
  transform: rotateY(180deg);
}

#work .wrap li:hover .overcontents{
  display: block;
  transform: rotateY(180deg);
  opacity: 1;
  
}
#work .wrap li span {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  border-radius: 25px;
  transition: 0.7s;
  position: relative;
  z-index: 3;
  border: 3px solid #938c8c;
}
#work .wrap li span:before{
  content: "";  
  border: 3px solid #938c8c;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  bottom: 10px;
}
#work .wrap li span:after{
  content: "";
  width: 80px;
  height: 1px;
  border: 2px solid #786c6c;
  border-radius: 2px;
  position: absolute;
  top: 19px;
}
#work .wrap .spin:hover li span{
  opacity: 0;
}
#work .wrap .spin:hover li .name{

}
#work .wrap li span a{
  color: transparent;
  width: 100%;
  height: 100%;
}
#work .wrap .spin:nth-of-type(1) li span{
  background-image: url(../img/work-back1.png);
}
#work .wrap .spin:nth-of-type(2) li span{
  background-image: url(../img/work-back2.png);
}
#work .wrap .spin:nth-of-type(3) li span{
  background-image: url(../img/work-back3.png);
}
#work .wrap .spin:nth-of-type(4) li span{
  background-image: url(../img/work-back4.png);
}

#work .wrap li p {  
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  font-size: 18px;
}
.wrap ul li .overcontents{
  position: absolute;
  left: 0;
  top: 0px;
  /*! background-color: antiquewhite; */
  line-height: 1.3;
  display: none;
  opacity: 0;
  transition: all 1s;
  box-sizing: border-box;
  transform: rotateY(180deg);
  width: 100%;
  height: 90%;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 25px #c6b5b5;
}
.wrap ul li .overcontents:before{
  content: "";
  background-image: url(../img/click.svg);
  width: 100px;
  height: 100px;
  position: absolute;
  background-repeat: no-repeat;
  bottom: 10px;
  left: 113px;
  font-size: 24px;
  line-height: 0;
}
.wrap ul li .overcontents:after{
  content: ""; 
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  border: 1.5px solid #333;
  position: absolute;
  bottom: 40px;
  left: 84px;
  animation-name: click_ani;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  z-index: 0;
}
@keyframes click_ani{
  0%{
    transform: scale(0.5);    
  }
  100%{
    transform: scale(2);
    opacity: 0;
  }
}
.wrap ul li .overcontents h3{
  font-size: 24px;
  margin: 20px 0;
}
.wrap ul li .overcontents p{
  
}
.wrap ul li:hover .name{
  opacity: 0;
}
.wrap ul li .overcontents span{
  background-image: url(../img/work-back1.png);
  opacity: 0.3;
  width: 100%;
  height: 100%;
  
}
.wrap ul li .overcontents .inside{
  height: 60% !important;
}
.wrap ul li .overcontents .inside:before{
  
}
.wrap ul li .overcontents .inside a{
  
  position: absolute;
  z-index: 4;
}
#skill{
  
  position: relative;
}
#skill_Sub{
  background-color: #242424;
}
#skill_Sub .wrap{
  position: relative;
  height: 100vh;
/*   height: 100%; */
}
#skill_Sub .wrap hgroup{

}
#skill_Sub .wrap hgroup h2{

}
#skill_Sub .wrap hgroup .bigFonts{
  text-align: center;
  font-style: italic;
  font-size: 7.55vw;
  color: white;
  margin: 60px 0;
  font-family: 'Baskervville', serif;
  line-height: 8.33vw;
}
#skill_Sub .wrap hgroup .smallFonts{
  color: white;  
  font-size: 30px;
  margin: 30px 0;
  line-height: 3.33vw;
  position: absolute;
  bottom: 12%;
}

  /* 슬라이드 */
  .slider {
    height: 100%;
    position: relative;
    /*! padding-top: 50px; */
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden; /* 현재 슬라이드 오른쪽에 위치한 나머지 슬라이드 들이 보이지 않도록 가림 */
    z-index: 0;
    box-sizing: border-box;
    width: 100% !important;
  }
  .slider input[type="radio"] {
    display: none;
  }
  ul.imgs {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 90%;
    position: relative;
  }
  ul.imgs li {
    position: absolute;
    left: 640px;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  ul.imgs li img{
  width: auto;
  height: auto;
  }
  .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 70px;
    z-index: 2;
  }
  .bullets label {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  /* 현재 선택된 불릿 배경 흰색으로 구분 표시 */
  .slider
    input[type="radio"]:nth-child(1):checked
    ~ .bullets
    > label:nth-child(1) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(2):checked
    ~ .bullets
    > label:nth-child(2) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(3):checked
    ~ .bullets
    > label:nth-child(3) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(4):checked
    ~ .bullets
    > label:nth-child(4) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(5):checked
    ~ .bullets
    > label:nth-child(5) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(6):checked
    ~ .bullets
    > label:nth-child(6) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(7):checked
    ~ .bullets
    > label:nth-child(7) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(8):checked
    ~ .bullets
    > label:nth-child(8) {
    background-color: #fff;
  }
  .slider
    input[type="radio"]:nth-child(9):checked
    ~ .bullets
    > label:nth-child(9) {
    background-color: #fff;
  }
  .slider input[type="radio"]:nth-child(1):checked ~ ul.imgs > li:nth-child(1) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(2):checked ~ ul.imgs > li:nth-child(2) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(3):checked ~ ul.imgs > li:nth-child(3) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(4):checked ~ ul.imgs > li:nth-child(4) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(5):checked ~ ul.imgs > li:nth-child(5) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(6):checked ~ ul.imgs > li:nth-child(6) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(7):checked ~ ul.imgs > li:nth-child(7) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(8):checked ~ ul.imgs > li:nth-child(8) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }
  .slider input[type="radio"]:nth-child(9):checked ~ ul.imgs > li:nth-child(9) {
    left: 0;
    transition: 0.5s;
    z-index: 1;
  }

  /* about_slide */
  .slide_container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  }
  .slide_wrapper{
  display: flex;
  position: relative;
  overflow: hidden;
  }
  .slide_slide{
  height: 350px;
  min-width: 500px;
  position: absolute;
  }
  .slide_scrollbar{
    
  }

  #portfolio{
    
  }
  #portfolio .wrap{
    
  }
  #portfolio .wrap ul.portani{
    
  }
  #portfolio .wrap ul.portani li{
    
  }
  .slick-prev{
    
  }
  .slick-next{
    right: 31px;
  }
  .slick-prev, .slick-next{
    color: #000;
    z-index: 5;
  }
  .slick-prev::before, .slick-next::before{
      
    /*! background-color: #ccc; */
    color: #000;
    font-size: 50px;
  }
  .slick-track::before, .slick-track::after{
    content: "";
  }
  .slick-slide .slick_in img{  
    margin: 0 auto;
    height: auto;
    width: 350px;
  }
  .slick_in{
    position: relative;
  }
  .slick_in p{
    font-family: Pretendard;
    position: absolute;
    top: 25px;
    width: 281px;
    line-height: 1.5;
    left: 10px;
    height: 122px;
    font-size: 35px;
    text-shadow: 1px 1px 3px black;
    color: white;
  }
  /* 페들렛 영역 */
  #contact{
    position: relative;
  }
  #contact .wrap{
  }
  #contact .wrap:before{
    content: "";
    background-image: url(../img/bb7.svg);
    width: 350px;
    height: 350px;
    display: block;
    position: absolute;
    right: 0;
  }
  #contact .wrap .padlet_main{
    height: auto;
  } 
  #contact .wrap .padlet_sub{
    font-size: 30px;
    line-height: 1;
    font-style: italic;
    margin-bottom: 80px;
    font-size: 96px;
    }
  #contact .wrap .padlet-embed{
    
  }
  #contact .wrap p{
    font-size: 30px;
  }
/* location */
#location{
  margin-top: 80px;
  position: relative;
}
#location .wrap{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  column-gap: 70px;
  height: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
}
#location .wrap:before{
  content: "";
  background-image: url(../img/bb1.svg);
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}
#location .wrap:after{
  content: "";
  background-image: url(../img/bb9.svg);
  width: 350px;
  height: 350px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
#location .wrap h2{
  line-height: 1;
  font-style: italic;
  font-size: 96px;
  margin-top: 250px;
}
#location .wrap iframe{
  border: 2px solid #ccc !important;
  width: 790px;
  height: 390px;
  display: flex;
  margin: 60px 0;
}
#location .wrap .right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#location .wrap .right hgroup{
  
}
#location .wrap .right hgroup h2.subject{
  
  /*! margin: 0 auto; */
  color: white;
}
#location .wrap .right hgroup h3{
  
  line-height: 3;
  color: white;
}
#location .wrap .right p{  
  line-height: 2;
  color: #242424;
  font-size: 22px;
}
#location .wrap .right p strong{
  font-weight: bold;
  font-size: 24px;
}
#location .wrap .right a{
  margin-top: 80px;
  display: inline-block;
  line-height: 3;
  padding: 0px 45px;
  /*! display: block; */
  /*! width: 276px; */
  /*! line-height: 4; */
  /*! text-align: center; */
  border: 1px solid #242424;
  /*! position: absolute; */
  /*! bottom: 80px; */
  /*! right: 110px; */
  transition: all 0.5s;
  color: #242424;
}
#location .wrap .right a:hover{
  background-color: #242424;
  color: white;
}
#location .wrap .right a:hover ::after{
  border-color: white;
  
}
#location .wrap .right a::after{
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  display: inline-block;
  margin-left: 10px;
  border-left: transparent;
  border-bottom: transparent;
  transform: rotate(45deg);
}
