body{
    transition: all 1s;
    width: 100%;
    /* overflow: hidden; */
  }
	
  .aside{
    width: 220px;
    background-color: #ccc;
    position: fixed;
    right: -220px;
    top: 50%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 1s;
    z-index: 30;
  }
.aside ul{
    line-height: 2;
    text-transform: capitalize;
}
.aside ul li a{  
    display: block;
}
  .ham{
    background-color: #ccc;
    position: absolute;
    width: 100px;
    left: -100px;
    padding: 10px;
    box-sizing: border-box;
    top: 0;
  } 
  .show{
    right: 0 !important;
  }

header{
  
}
.wrap{

}
header .wrap{

  padding: 50px 0;
  display: flex;
  align-items: center;
}
header .wrap h1{

  display: block;
}
.logo{

}
.changecolor{

}
.changecolor li{

}
.changecolor li a{

}
.aside{

}
.aside a{

}
.aside ul{

}
.aside ul li{

}
.aside ul li a{

}
.wrap .nav{

  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
header .gnb{  
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
header .gnb li{
  
}
header .gnb li a{
  
}
header .gnb li p{
  display: none;
}
.over{
  color: red;
}