#title{

}
#title .wrap{

  padding-top: 0;
}
.box {
    width: 10rem;
    height: 10rem;
    margin: 15rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: transparent;
    transition: 1.2s;  
    color: transparent;
    font-family: Pretendard;
  }
  
  .box.active {
    width: 90%;
    background: transparent;
    color: black;
    height: 20rem;
    font-family: Pretendard;
  }
  
  /* ------------- */
  
  * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f8f8f8;
  }
  
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
  
  * {
    font-family: Pretendard;
  }
  
  .text{
    /*! background-color: #dcd4d4; */
    width: 40px;
    text-align: center;
    animation: in 2s reverse forwards;
    opacity: 0;
  }
  @keyframes in{
    0%{
     transform: translateZ(0px); 
      opacity: 1;
    }
    100%{
     transform: translateZ(600px); 
      opacity: 0;
    }
  }
  .text1{    
    animation-delay: 0s;
  }
.text2{    
    animation-delay: 0.6s;
  }
.text3{    
    animation-delay: 0.2s;
  }
.text4{    
    animation-delay: 1.1s;
  }
.text5{    
    animation-delay: 0.4s;
  }
.text6{    
    animation-delay: 5s;
  }